<div style="font-family: sans-serif; line-height: 1.6;">
    <strong>Curious about who’s behind this?</strong><br><br>
    👋 Hi! I'm just a fellow explorer—diving into the intersection of <em>Math</em>, <em>Business</em>, and <em>Technology</em> to uncover how data can drive smarter decisions.<br><br>
    🔍 Want to explore with me?<br>
    • Dive into my digital notebook: <a href="https://medium.com/@ravikumar10593/" target="_blank">Second Brain on Medium</a><br>
    • Browse through my work: <a href="https://ravikumar10593-hub.github.io/ravi_portfolio.github.io/" target="_blank">Personal Portfolio</a>
  </div>
  